body{
    margin: 24px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 24px - 24px);
}

#orders{
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;

}
.order{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:42px;
    height:42px;
    padding: 16px;
    margin-right: 12px;
    border: 2px solid black;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
}
.order.current{
    background-color: lightgreen;
}

#currentOrder{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#currentOrderName{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
}

#currentOrderDuration{
    font-size: 20px;
}

#completeOrder{
    margin-top: 36px;
    width: 100%;
    padding: 24px 18px;
    font-size: 28px;
    opacity: .25;
}

#newOrder{
    border-radius: 50%;
    width:80px;
    height: 80px;
    border: none;
    background-color: black;
    color: white;
    font-size: 36px;
    transition: transform 300ms ease;
}

#newOrder.close{
    transform:rotate(45deg)
}

#newOrderModal{
    position: absolute;
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    background-color: #000000EE;
    width:calc(100% - 48px - 32px);
    height:calc(100% - 48px - 100px - 18px - 18px);
    border-radius: 8px;
    padding: 18px;
}
.item{
    width:90%;
    font-size: 24px;
    padding: 18px;
    color: black;
    margin-bottom: 18px;
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 4px;
}